:root {
    --messenger-bg-color: #ffffff;
}
@media (prefers-color-scheme: dark) {
    :root {
        --messenger-bg-color: #181a1b;
    }
}
.messenger {
    display: flex;
    height: 100vh;
    width: 100vw;
    background: var(--messenger-bg-color);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}
@media (min-width: 1112px) {
    .messenger {
        width: 1112px;
        padding: 20px;
    }
}
@media (min-width: 769px) {
    .messenger {
        max-width: 90%;
        max-height: 90%;
        padding: 20px;
    }
    @media (display-mode: standalone) {
        .messenger {
            max-width: 100vw;
            max-height: 100vh;
            width: 100vw;
            height: 100vh;
            padding: 20px;
            border-radius: 0;
        }
    }
}
@media (max-width: 768px) {
    .messenger {
        border-radius: 0;
        flex-direction: column;
    }
}
