:root {
    --message-you-text-color: #000;
    --message-peer-text-color: #000;
    --message-system-text-color: #000;
    --message-reply-to-you-text-color: #333;
    --message-reply-to-peer-text-color: #333;

    --message-you-bg-color: #cfe9f1;
    --message-peer-bg-color: #e0e0e0;
    --message-system-bg-color: #bfbfbf;
    --message-reply-to-you-bg-color: #a4cde3;
    --message-reply-to-peer-bg-color: #d1d1d1;
}

@media (prefers-color-scheme: dark) {
    :root {
        --message-you-text-color: #e8e6e3;
        --message-peer-text-color: #e8e6e3;
        --message-system-text-color: #e8e6e3;
        --message-reply-to-you-text-color: #c5c3c0;
        --message-reply-to-peer-text-color: #c5c3c0;

        --message-you-bg-color: #143944;
        --message-peer-bg-color: #2a2d2f;
        --message-system-bg-color: #3c4144;
        --message-reply-to-you-bg-color: #1d475e;
        --message-reply-to-peer-bg-color: #323638;
    }
}

.message {
    position: relative;
    max-width: 75%;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    display: inline-block;
    margin: 10px 0;
    touch-action: pan-y;
    min-width: 100px;
    .message-status {
        display: flex;
        justify-content: end;
        align-items: center;
        .message-time {
            font-size: 10px;
            padding: 2px;
            align-self: center;
        }
        .message-check {
            display: flex;
            align-items: center;
        }
        .message-reaction-button {
            cursor: pointer;
            margin-left: 4px;
            opacity: 0.7;
            border-radius: 50%;
            padding: 3px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.2s;
        }
        .message-reaction-button:hover {
            background-color: rgba(255, 255, 255, 0.2);
            opacity: 1;
            transform: scale(1.1);
        }
    }
    .message-reaction {
        position: absolute;
        bottom: -0.5em;
        left: -0.5em;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 50%;
        width: 2em;
        height: 2em;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: transform 0.2s;
    }
    .message-reaction:hover {
        transform: scale(1.1);
    }
    .message-reaction-placeholder {
        position: absolute;
        bottom: -0.5em;
        left: -0.5em;
        background-color: rgba(255, 255, 255, 0.6);
        border-radius: 50%;
        width: 2em;
        height: 2em;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        opacity: 0;
        transition:
            opacity 0.3s,
            transform 0.2s;
    }
    .message-reaction-placeholder:hover {
        transform: scale(1.1);
    }
    .reply-to {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 5px;
        cursor: pointer;
        .icon {
            font-size: 18px;
            padding: 5px;
        }
        .you {
            background-color: var(--message-reply-to-you-bg-color);
            color: var(--message-reply-to-you-text-color);
        }
        .peer {
            background-color: var(--message-reply-to-peer-bg-color);
            color: var(--message-reply-to-peer-text-color);
        }
        .you,
        .peer {
            padding: 5px;
            border-radius: 5px;
            font-size: 12px;
            overflow: hidden;
            text-wrap: nowrap;
            text-overflow: ellipsis;
        }
    }
    .message-marker-top,
    .message-marker-bottom {
        width: 100%;
        height: 1px;
        margin: 0;
        padding: 0;
        visibility: hidden;
    }
}
.message.you {
    align-self: flex-end;
    background-color: var(--message-you-bg-color);
    color: var(--message-you-text-color);
    padding: 5px 5px 0 5px;
    border-radius: 10px 0 10px 10px;
    .message-reaction {
        background-color: var(--message-reply-to-peer-bg-color);
        color: var(--message-reply-to-peer-text-color);
    }
}
.message.peer {
    align-self: flex-start;
    background-color: var(--message-peer-bg-color);
    color: var(--message-peer-text-color);
    padding: 5px 5px 0 5px;
    border-radius: 0 10px 10px 10px;
    .message-reaction {
        background-color: var(--message-reply-to-you-bg-color);
        color: var(--message-reply-to-you-text-color);
    }
    &:hover .message-reaction-placeholder {
        opacity: 1;
    }
}
.message.system,
.message.date {
    align-self: center;
    background-color: var(--message-system-bg-color);
    color: var(--message-system-text-color);
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 12px;
}
.message.you,
.message.peer {
    .message-text {
        padding: 5px;
    }
}
.message.blur {
    filter: blur(5px);
}
