:root {
    --progress-bg-color: #bfbfbf;
    --progress-text-color: #000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --progress-bg-color: #3c4144;
        --progress-text-color: #e8e6e3;
    }
}

.progress {
    max-width: 60%;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    display: inline-block;
    margin: 10px 0;
    align-self: center;
    background-color: var(--progress-bg-color);
    color: var(--progress-text-color);
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 12px;
}
