:root {
    --sidebar-bg-color: #f5f5f5;
    --sidebar-pre-bg-color: #eaeaea;
    --peer-section-button-bg-color-disabled: #a0a0a0;
    --peer-section-input-bg-color-disabled: #eaeaea;
}
@media (prefers-color-scheme: dark) {
    :root {
        --sidebar-bg-color: #1e2021;
        --sidebar-pre-bg-color: #242728;
        --peer-section-button-bg-color-disabled: #4e5457;
        --peer-section-input-bg-color-disabled: #242728ff;
    }
}
.sidebar {
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: var(--sidebar-bg-color);
    padding: 20px;
    border-radius: 10px;
    .peer-section {
        .qr-buttons {
            display: flex;
            column-gap: 10px;
        }
        button:disabled {
            background-color: var(--peer-section-button-bg-color-disabled);
            cursor: not-allowed;
        }
        textarea:disabled {
            background-color: var(--peer-section-input-bg-color-disabled);
            cursor: not-allowed;
        }
    }
    .refresh-btn {
        background-color: var(--button-bg-color);
    }
    .refresh-btn:hover {
        background-color: var(--button-hover-bg-color);
    }
    .connections-section {
        display: contents;
        .connection-tabs {
            overflow-y: auto;
            overflow-x: hidden;
            display: flex;
            flex-direction: column;
            -webkit-overflow-scrolling: touch;
        }
    }
    .update-notification {
        display: flex;
        justify-content: center;
    }
    .privacy-info {
        margin-top: auto;
        font-size: 8pt;
        padding: 5px;
        margin-inline: auto;
        .link {
            cursor: pointer;
            display: flex;
            justify-content: end;
            align-items: center;
            .info {
                padding: 5px;
            }
        }
    }
    .build-timestamp {
        font-size: 8pt;
        padding: 5px;
        margin-inline: auto;
    }
    h1 {
        margin-bottom: 20px;
        font-size: 24px;
        text-align: center;
    }
    h3 {
        margin-bottom: 10px;
        font-size: 18px;
    }
    textarea {
        resize: none;
    }
    button {
        font-size: 16px;
        color: var(--button-text-color);
        background-color: var(--button-primary-bg-color);
    }
    button:hover {
        background-color: var(--button-primary-hover-bg-color);
    }
    textarea,
    pre {
        background-color: var(--sidebar-pre-bg-color);
        word-break: break-all;
        white-space: pre-wrap;
        overflow-wrap: break-word;
        font-size: 16px;
    }
    button,
    textarea,
    pre {
        width: 100%;
        margin-bottom: 10px;
        padding: 10px;
        border: none;
        border-radius: 5px;
        outline: none;
    }
}

@media (max-width: 768px) {
    .sidebar {
        border-radius: 0;
        position: absolute;
        top: calc(var(--navbar-height) + var(--unstable-mode-warning-height));
        left: 0;
        width: 100%;
        height: calc(100% - var(--navbar-height) - var(--unstable-mode-warning-height));
        order: 2;
    }
    .sidebar.hidden {
        display: none;
    }
    @media (display-mode: standalone) {
        .sidebar {
            .build-timestamp {
                margin-bottom: 30px;
            }
        }
    }
}
