:root {
    --navbar-height: 0px;
    --navbar-bg-color: #0084ff;
    --navbar-text-color: #ffffff;
    --unread-bg-color: #ff0000;
    --unread-text-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --navbar-bg-color: #006acc;
        --navbar-text-color: #e8e6e3;
        --unread-bg-color: #cc0000;
        --unread-text-color: #e8e6e3;
    }
}

.navbar {
    display: none;

    .unread-count {
        border-radius: 50%;
        width: 1.5em;
        height: 1.5em;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        pointer-events: none;
        background-color: var(--unread-bg-color);
        color: var(--unread-text-color);
    }
}

@media (max-width: 768px) {
    :root {
        --navbar-height: 75px;
    }

    .navbar {
        display: flex;
        width: 100%;
        height: var(--navbar-height);
        background-color: var(--navbar-bg-color);
        color: var(--navbar-text-color);
        align-items: center;
        padding: 0 15px;
        position: absolute;
        top: var(--unstable-mode-warning-height);
        left: 0;
        justify-content: space-between;
        cursor: pointer;

        h2 {
            font-size: 18px;
        }
    }
}
