name: whisper-devcontainer

services:
    redis:
        image: redis:latest
        restart: unless-stopped
        networks:
            - lan

    mongo:
        image: mongo:latest
        restart: unless-stopped
        networks:
            - lan

    backend:
        image: vorobalek/whisper:latest
        restart: unless-stopped
        env_file:
            - ./tmp/.env
        environment:
            ASPNETCORE_ENVIRONMENT: 'Development'
            PORT: '80'
            CORS: ''
            PATH_BASE: ''
            REDIS_CONNECTION_STRING: 'redis:6379'
            MONGO_CONNECTION_STRING: 'mongodb://mongo:27017'
            NOTIFICATION_SUBJECT: 'mailto:whisper-local@example.com'
        depends_on:
            - redis
            - mongo
        ports:
            - '5027:80'
        networks:
            - lan

    frontend:
        build:
            context: ..
            dockerfile: .devcontainer/Dockerfile
        image: whisper-frontend-dev
        command: sleep infinity
        working_dir: /workspaces/whisper-frontend
        env_file:
            - ./tmp/.env
        depends_on:
            - backend
            - redis
            - mongo
        ports:
            - '8080:8080'
        networks:
            - lan

networks:
    lan:
        driver: bridge
