* {
    scrollbar-width: none !important;
}
*::-webkit-scrollbar {
    display: none;
}
*::-webkit-scrollbar-track {
    display: none;
}

*::-webkit-scrollbar-track:hover {
    display: none;
}

*::-webkit-scrollbar-track:active {
    display: none;
}

*::-webkit-scrollbar-thumb {
    display: none;
}

*::-webkit-scrollbar-thumb:hover {
    display: none;
}

*::-webkit-scrollbar-thumb:active {
    display: none;
}
.chat-window-wrapper {
    position: relative;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    -webkit-overflow-scrolling: touch;
    .chat-window {
        flex: 1;
        padding: 0 0 5px 20px;
        overflow-y: auto;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        -webkit-overflow-scrolling: touch;
        .messages {
            display: flex;
            flex-direction: column;
            margin-top: auto;
            padding: 0;
        }
    }
    .scroll {
        height: 0;
        padding-right: 0;
        padding-left: 20px;
        .scroll-progress {
            margin-left: auto;
            background-image: linear-gradient(to right, #0084ff, #006acc);
            height: 100%;
            border-radius: 10px;
        }
    }
}
@media (max-width: 768px) {
    .chat-window-wrapper {
        .chat-window {
            padding: 20px;
        }
        .scroll {
            padding-left: 5px;
            padding-right: 5px;
        }
        max-height: calc(100% - var(--message-input-height));
    }

    @media (display-mode: standalone) {
        .chat-window-wrapper {
            max-height: calc(100% - var(--message-input-height) - 20px);
        }
    }
}
